.header{
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 1rem;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
}
.header-title{
    margin: 0;
    font-size: 1.5rem;
    line-height: 0;
}
.header-title span{
    display: none;
    font-size: 1rem;
}
.header-menu{
    margin: 0;
    padding: 0;
    display: none;
}
.header-list{
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}
.header-item{

}
.header-item a{
    display: block;
    padding-inline: 1.5rem;
    padding-block: .5rem;
    text-transform: uppercase;
    font: var(--button);
}
@media screen and (min-width:768px){
    .header{
        padding-inline: 8rem;
    }
    .header-title span{
        display: inline-block;
    }
}

@media screen and (min-width:1024px){
    .header-menu{
        display: block;
    }
}